Binaries
DerivedDataCache
Intermediate
Saved
Platforms
Content/A_Surface_Footstep/**
Content/AnimStarterPack/**
Content/Audio/**
Content/Blueprints/**
Content/Collections/**
Content/Developers/**
Content/FPS_Weapon_Bundle/**
Content/Fx/**
Content/KiteDemo/**
Content/Lighting/**
Content/Maps/**
Content/Materials/**
Content/Meshes/**
Content/ParagonLtBelica/**
Content/ParagonProps/**
Content/SampleMap/**
Content/Sequences/**
Content/Textures/**

Content/__ExternalActors__/**
Content/__ExternalObjects__/**

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.idea
